pluginManagement {
    val flutterSdkPath =
        run {
            val properties = java.util.Properties()
            val localProp = file("local.properties")
            if (localProp.exists()) {
                localProp.inputStream().use { properties.load(it) }
            }
            val path = properties.getProperty("flutter.sdk")
            path ?: System.getenv("FLUTTER_ROOT") ?: "/run/current-system/sw"
        }

    includeBuild("$rootDir/.flutter_tools/gradle")

    repositories {
        google()
        mavenCentral()
        gradlePluginPortal()
    }
}

plugins {
    id("dev.flutter.flutter-plugin-loader") version "1.0.0"
    id("com.android.application") version "9.0.1" apply false
    id("org.jetbrains.kotlin.android") version "2.3.20" apply false
}

include(":app")
