import 'package:dartz/dartz.dart';
import '../../../../core/errors/failures.dart';
import '../entities/{{snake}}_entity.dart';
import '../repositories/{{snake}}_repository.dart';

class Get{{className}}ByIdUseCase {
  final {{className}}Repository repository;

  const Get{{className}}ByIdUseCase({required this.repository});

  Future<Either<Failure, {{className}}Entity>> call(String id) {
    return repository.getById(id);
  }
}
