import 'package:dartz/dartz.dart';
import '../../../../core/errors/failures.dart';
import '../entities/{{snake}}_entity.dart';
import '../repositories/{{snake}}_repository.dart';

class Update{{className}}UseCase {
  final {{className}}Repository repository;

  const Update{{className}}UseCase({required this.repository});

  Future<Either<Failure, {{className}}Entity>> call(String id, {{className}}Entity entity) {
    return repository.update(id, entity);
  }
}
